script(src='/emulators/jsnes/build/jsnes.js', type='text/javascript')
script(src='/emulators/jsnes/lib/dynamicaudio-min.js', type='text/javascript')
script(src='/javascripts/emulators/jsnes.js', type='text/javascript')
link(rel='stylesheet', href='/stylesheets/emulators/jsnes.css')

div#emulator(tabindex='0')