doctype html
html
    head
        title='Crazyerics.com'
        script(src='https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js')
        script(src='/javascripts/jquery.auto-complete.min.js')
        script(src='/javascripts/selectordie.min.js')
        script(src='/javascripts/browserfs.min.js')
        script(src='/javascripts/jquery.bigtext.js')
        script(src='/javascripts/tooltipster.bundle.min.js')
        script(src='/javascripts/three.min.js')
        script(src='/javascripts/color-thief.min.js')
        link(rel='shortcut icon', href='favicon.ico', type='image/x-icon')
        link(rel='stylesheet', href='/stylesheets/style.css')
        link(rel='stylesheet', href='/stylesheets/jquery.auto-complete.css')
        link(rel='stylesheet', href='/stylesheets/selectordie.css')
        link(rel='stylesheet', href='/stylesheets/tooltipster.bundle.min.css')
        link(rel='stylesheet', href='/stylesheets/tooltipster-sideTip-shadow.min.css')
        link(rel='stylesheet', type='text/css', href='http://fonts.googleapis.com/css?family=Open+Sans|Montserrat')
    body
        block content