extends layout

block content
    div#searchform
        select(title="Filter your search to a specific system")
            option(value='all') All Consoles
            option(value='nes') Nintendo
            option(value='snes') Super Nintendo
            option(value='gba') Game Boy Advance
            option(value='gb') Game Boy
            option(value='gen') Genesis
            option(value='gg') Game Gear
            option(value='sms') Master System
        div
            input(class="tooltip" title="Begin typing a name to see a list of results. Use a filter for foreign or unofficial titles." type='text', name='search', data-hotkey='q', placeholder='Search')

    div(class="rel")
        
        div#startmessage(class="darkgrad")
            div(class="centered")
                h2 Welcome!
                p Get started by searching for a game or selecting a suggestion below.

        div#emulatorwrapper
            div#emulatorcanvas
            div#emulatorcontrolswrapper
                ul
                    li(class="mute")
                        img(class="tooltip",src="/images/mute.png",title="Toggle Mute (F9)")
                    li(class="loadstate")
                        img(class="tooltip",src="/images/loadstate.png",title="Load State (F4)")
                    li(class="savestate")
                        img(class="tooltip",src="/images/savestate.png",title="Save State (F2)")
                    li(class="fullscreen")
                        img(class="tooltip",src="/images/fullscreen.png",title="Enter Fullscreen")
            textarea#output(rows="8")
        
            div#emulatorwrapperoverlay
                div
                    h2 Game Paused
                    p Click here to continue

        div#gametitlewrapper
            div#gametitle(class="darkgrad")
                div#gametitleimagewrapper
                div#gametitlecontent

        div#gameloadingoverlay(class="darkgrad")
            div#gameloadingoverlaytable
                div#gameloadingoverlaycell
                    div#gameloadingoverlaycontent(class="close")
                        h2 Now Loading
                        div#gameloadingoverlaycontentimage
                            img(class="tada")
                        p#gameloadingname

    div#suggestionswrapper
        div(class="column")
        div(class="column")
        div(class="column")
        div(class="column")
        div(class="column")

    div#loading
        div(class="loadingicon")
        div(class="loadingtext")