extends layout

block content
    div#searchform
        select
            option(value='all') All Consoles
            option(value='nes') Nes
            option(value='snes') Snes
            option(value='gba') Game Boy Advance
            option(value='gb') Game Boy
            option(value='gen') Genesis
        - //div(class='scopebadge') All Consoles
        input(type='text', name='search', data-hotkey='q', placeholder='Search')
    - //input#jsnes(type='button', value='jsnes')
    - //input#nesboxflash(type='button', value='nesboxflash')
    div#emulatorwrapper

    div#nes-carousel(class='carousel')

    div#snes-carousel(class='carousel')

    div#gba-carousel(class='carousel')

    div#gb-carousel(class='carousel')

    div#gen-carousel(class='carousel')