extends layout

block content
    div#searchform
        select(title="Filter your search to a specific system")
            option(value='all') All Consoles
            option(value='nes') Nes
            option(value='snes') Snes
            option(value='gba') Game Boy Advance
            option(value='gb') Game Boy
            option(value='gen') Genesis
        div
            input(class="tooltip" title="Begin typing a name to see a list of results" type='text', name='search', data-hotkey='q', placeholder='Search')

    div(class="rel")
        
        div#startmessage(class="darkgrad")
            div(class="centered")
                h2 Welcome!
                p Get started by searching for a game or selecting a suggestion below.

        div#emulatorwrapper
            canvas#emulator(tabindex='0')
            textarea#output(rows="8")
        
            div#emulatorwrapperoverlay
                div
                    h2 Game Paused
                    p Click here to continue

        div#gametitlewrapper(class="darkgrad")
            div#gametitle
                img
                div

        div#gameloadingoverlay(class="darkgrad")
            div#gameloadingoverlaytable
                div#gameloadingoverlaycell
                    div#gameloadingoverlaycontent(class="close")
                        h2 Now Loading
                        p#gameloadingname

    div#suggestionswrapper
        div(class="column")
        div(class="column")
        div(class="column")
        div(class="column")
        div(class="column")

    div#loading
        div(class="loadingicon")
        div(class="loadingtext")