extends layout

block content
    div#toolbar
        div(class="systemfilter")
            select(title="Filter your search to a specific system")
                option(value='all') All Consoles
        div(class="search")
            input(class="tooltip" title="Begin typing a name to see a list of results. Select a system for foreign or unofficial titles." type='text', name='search', data-hotkey='q', placeholder='Search')
        div(class="gamepads")
            ul
                li#gameid0
                li#gameid1

    div#content
        
        div#dialogs(class="darkgrad")
            div(class="dialogwrapper")
                div(class="Welcome")
                    h2 Welcome!
                    p Get started by searching for a game or selecting a suggestion below
            div(class="dialogwrapper")
                div(class="WelcomeBack")
                    h2 Welcome Back
                    p Continue playing, search for, or select a game suggestion below
            div(class="dialogwrapper")
                div(class="PlayAgain")
                    h2 Play Again
                    p Continue playing, search for, or select a game suggestion below
            div(class="dialogwrapper")
                div(class="ConfigureGamepad")
                    h2 Configure Gamepad
                    p The connected gamepad hasn't been configured before: #[span]
                    ul#gamepadinputs
                    div
                        h3#startgamepadover(class="zoom") Start Over
                        h3#skipgamepadconfig(class="zoom") Don't Use this Gamepad
            div(class="dialogwrapper")
                div(class="ShaderSelection")
                    h2 How do you want your game to appear?
                    ul#shaderselectlist
                    input#shaderselectcheckbox(type="checkbox") 
                    label Save this choice for all future #[span] games. You can reset this later.
            div(class="dialogwrapper")
                div(class="SaveSelection")
                    h2 Load recent saved progress?
                    ul#savesselectlist
                    h3#loadnosaves(class="zoom") No
                    p(class="hide max") * You have reached the maximum number of saves allowed for this game. New saves will now replace the oldest saves.
                    p(class="hide near") * You are nearing the maximum number of saves allowed for this game. Delete some later to avoid new saves replacing the oldest saves. Unless that doesn't bother you.
            div(class="dialogwrapper")
                div(class="GameLoading")
                    h2 Now Loading
                    //- div#gameloadingimage
                    //-     img(class="tada")
                    div#webglloader
                    p#gameloadingname
                    div#loadingprogressbar
                    p#tip Did you know that you rewind that mistake by holding the R key?
            div(class="dialogwrapper")
                div(class="Exception")
                    h2 Game Error
                    p We can't realisticly expect every game to always work. Perhaps you can try again or refresh this page.
                    p#emulatorexceptiondetails
            div(class="dialogwrapper")
                div(class="SaveLoading")
                    h2 Loading Saved Progress
                    div#saveloadingimage
                        img(class="tada")
            div(class="dialogwrapper")
                div(class="EmulatorCleanup")
                    h2 Cleaning Up
                    p Please wait while we cleanup this game and prepare for the next
                        

        div#emulatorwrapper
            div#emulatorcanvas
                div#emulatorpositionhelper
            
            textarea#output(rows="8")

            div#notificationwrapper(class="closed")
                div.spinner
                p The quick brown fox jumped over the lazy dog
        
            div#emulatorwrapperoverlay
                div
                    h2 Game Paused
                    p Click here to continue


        div#gamedetailsbackground
            div#gamedetailswrapper(class="darkgrad")
                div#gamedetailstable
                    div#gamedetailscontent
                        div#gametitlewrapper
                            span#gametitle
                        div#gametitlecaption
                        div#sliderwrapper
                            ul#slidericons
                                li(class="controls tooltip", data-slider="controls", title="Controls")
                                li(class="screenshots tooltip", title="Screenshots")
                                li(class="saves tooltip", title="Saves")
                                li(class="info tooltip", data-slider="info", title="Info")
                            //- sliding panels
                            div#controls-slider(class="slidingpanel closed")
                            div#info-slider(class="slidingpanel closed")
                    div#gamedetailsboxfront

    div#collectionsWrapper
        div#collectionTitle
        div#openCollectionGrid(class="grid")
        div#collectionsGrid(class="grid")

    div#suggestionswrapper
        div#alphabar Browse: 
            a A
            a B
            a C
            a D
            a E
            a F
            a G
            a H
            a I
            a J
            a K
            a L
            a M
            a N
            a O
            a P
            a Q
            a R
            a S
            a T
            a U
            a V
            a W
            a X
            a Y
            a Z
            a #
            input#browse-show-obscure(type="checkbox")
            div(class="tooltip" title="When browsing by letter, enable this to see all available games.") Reveal Obscure Titles
        div#suggestionsgrid(class="grid")
