extends layout

block content
    div#search
        select(title="Filter your search to a specific system")
            option(value='all') All Consoles
        div
            input(class="tooltip" title="Begin typing a name to see a list of results. Select a system for foreign or unofficial titles." type='text', name='search', data-hotkey='q', placeholder='Search')

    div#content
        
        div#dialogs(class="darkgrad")
            div(class="dialogwrapper")
                div#welcomemessage
                    h2 Welcome!
                    p Get started by searching for a game or selecting a suggestion below
            div(class="dialogwrapper")
                div#welcomeback
                    h2 Welcome Back
                    ul
                    p Continue playing, search for, or select a game suggestion below
            div(class="dialogwrapper")
                div#systemshaderseletor
                    h2 How do you want your game to appear?
                    ul#shaderselectlist
                    input(type="checkbox") 
                    label Save this choice for all future #[span] games. You can reset this later.
            div(class="dialogwrapper")
                div#savedgameselector
                    h2 Load recent saved progress?
                    ul#savesselectlist
                    h3#loadnosaves(class="zoom") No
                    div#loadsavegrid(class="grid")
            div(class="dialogwrapper")
                div#gameloading
                    h2 Now Loading
                    div#gameloadingimage
                        img(class="tada")
                    p#gameloadingname
                    p#tip Did you know that you rewind that mistake by holding the R key?
            div(class="dialogwrapper")
                div#emulatorexception
                    h2 Game Error
                    p We can't realisticly expect every game to always work. Perhaps you can try again or refresh this page.
                    p#emulatorexceptiondetails
            div(class="dialogwrapper")
                div#saveloading
                    h2 Loading Saved Progress
                    div#saveloadingimage
                        img(class="tada")
            div(class="dialogwrapper")
                div#emulatorcleanup
                    h2 Cleaning Up
                    p Please wait while we cleanup this game and prepare for the next
                        

        div#emulatorwrapper
            div#emulatorcanvas
            
            textarea#output(rows="8")
        
            div#emulatorwrapperoverlay
                div
                    h2 Game Paused
                    p Click here to continue


        div#gamedetailsbackground
            div#gamedetailswrapper(class="darkgrad")
                div#gamedetailstable
                    div#gamedetailscontent
                        div#gametitlewrapper
                            span#gametitle
                        div#gametitlecaption
                        //- sliding panels
                        //- div#controlsslider(class="slidingpanel closed")
                        //- div#screenshotsslider(class="slidingpanel closed")
                        //-     div(class="slidercontainer")
                        //-         p Click a screenshot to download. Screenshots are deleted when you close or refresh this page.
                        //-         p(class="screenshothelper") Take a screenshot by pressing T during play.
                        //- //- corresponding list of togglers for sliders
                        //- ul#gamecontrolslist(class="closed")
                        //-     li(class="controlsslider", data-click-state="0")
                        //-         img(class="tooltip",src="#{assetpath}/images/gamepad.png", title="View Controls")
                        //-     li(class="screenshotsslider", data-click-state="0")
                        //-         img(class="tooltip",src="#{assetpath}/images/screenshot.png", title="View Screenshots")
                    div#gamedetailsboxfront

    div#recentlyplayedwrapper
        div#recentlyplayedgrid(class="grid")

    div#suggestionswrapper
        div#alphabar Browse: 
            a A
            a B
            a C
            a D
            a E
            a F
            a G
            a H
            a I
            a J
            a K
            a L
            a M
            a N
            a O
            a P
            a Q
            a R
            a S
            a T
            a U
            a V
            a W
            a X
            a Y
            a Z
            a #
        div#suggestionsgrid(class="grid")
