extends layout

block content
    div#searchform
        select(title="Filter your search to a specific system")
            option(value='all') All Consoles
            option(value='nes') Nes
            option(value='snes') Snes
            option(value='gba') Game Boy Advance
            option(value='gb') Game Boy
            option(value='gen') Genesis
        input(class="tooltip" title="Begin typing a name to see a list of results" type='text', name='search', data-hotkey='q', placeholder='Search')
    - //input#jsnes(type='button', value='jsnes')
    - //input#nesboxflash(type='button', value='nesboxflash')
    div#emulatorwrapper 
        div#emulatorborder
            span(class="startmessage")
                h2 Welcome!
                p Get started by searching for a game or selecting a suggestion below.
        canvas#emulator

    textarea#output(rows="8")
    input#upload(type="file", multiple="")

    div#suggestionswrapper
        div(class="column")
        div(class="column")
        div(class="column")
        div(class="column")
        div(class="column")

    div#loading
        div(class="loadingicon")
        div(class="loadingtext")