doctype html
html
    head
        title='Crazyerics.com'
        script(src='https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js')
        script(src='/javascripts/crazyerics.js', type='text/javascript')
        link(rel='shortcut icon', href='favicon.ico', type='image/x-icon')
        link(rel='stylesheet', href='/stylesheets/style.css')
        link(rel='stylesheet', type='text/css', href='http://fonts.googleapis.com/css?family=Open+Sans|Montserrat')
    body
        div#container
            div#maincolumn
                - if (!titlebanner) titlebanner = Math.floor((Math.random() * 10) + 1);
                div#titlebanner(style='background:url(/images/titlebanners/' + titlebanner + '.jpg)')
                    div(class='bannergradient')
                    div(class='titlewrapper')
                        h1 crazyerics.com
                        h4 retro gaming commmunity
                div#searchform
                    div(class='scopebadge') All Consoles
                    input(type='text', name='search', data-hotkey='q', placeholder='Search')
                div#gametitlewrapper
                    img
                    div Blaster Master
                block content
            div#menucolumn
