doctype html
html
    head
        title='Crazyerics.com'
        script(src='https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js')
        script(src='/javascripts/crazyerics.js', type='text/javascript')
        script(src='/javascripts/jquery.auto-complete.min.js')
        script(src='/javascripts/selectordie.min.js')
        script(src='/javascripts/jquery.lazyload.js')
        script(src='/javascripts/jquery.tooltipster.min.js')
        link(rel='shortcut icon', href='favicon.ico', type='image/x-icon')
        link(rel='stylesheet', href='/stylesheets/style.css')
        link(rel='stylesheet', href='/stylesheets/jquery.auto-complete.css')
        link(rel='stylesheet', href='/stylesheets/selectordie.css')
        link(rel='stylesheet', href='/stylesheets/tooltipster.css')
        link(rel='stylesheet', type='text/css', href='http://fonts.googleapis.com/css?family=Open+Sans|Montserrat')
    body
        div#container
            div#maincolumn
                - if (!titlebanner) titlebanner = Math.floor((Math.random() * 10) + 1);
                div#titlebanner(style='background:url(/images/titlebanners/' + titlebanner + '.jpg)')
                    div(class='bannergradient')
                    div(class='titlewrapper')
                        h1 crazyerics.com
                        h4 retro gaming commmunity
                block content
            - //div#menucolumn (until I have something for this space)
