doctype html
html
  head
    script.
        var masterFile = !{masterFile};
        var system = '!{system}';
        var paths = !{paths};
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js')
    script(src='/javascripts/isotope.min.js')
    script(src='/javascripts/dev/mediabrowser.js', type='text/javascript')
    script(src='/javascripts/imagesloaded.min.js')
    script(src='/javascripts/dropzone.js', type='text/javascript')
    script(src='/javascripts/dev/jsoneditor.min.js', type='text/javascript')
    link(rel='stylesheet', href='/stylesheets/dropzone.css')
    link(rel='stylesheet', href='/stylesheets/dev/mediabrowser.css')
    link(rel='stylesheet', href='/stylesheets/dev/jsoneditor.min.css')
    link(rel='stylesheet', type='text/css', href='http://fonts.googleapis.com/css?family=Open+Sans|Poppins|Kanit')
  body
    div#header
      div#searchwrapper
        | Search: 
        input#search
      div#filterwrapper
        | Filter By Rank:
        input(type="checkbox")#hidered 
        | Hide Red
        input(type="checkbox")#hideyellow
        | Hide Yellow
        input(type="checkbox")#hidegreen
        | Hide Green
    ul#list
    ul#template
      li(class="item")
        div(class="head")
          img
          div(class="rankflag")
          h2
          div(class="boxfront count") 
            | BF
          div(class="titlescreen count") 
            | TS
          div(class="sqvideo count") 
            | SQV
          div(class="launchboxmetadata count") 
            | LBM
          div(class="contributionstitlescreen count") 
            | C-TS
        div(class="slider")
          ul(class="panels")
            li(class="panel info")
              h3 Game Info
              ul
              p This is the entry from the masterfile. Edit as necessary (this will be overwritten the next time the masterfile is generated however)
              textarea
            li(class="panel boxfront")
              h3 Media Box Front
              img(class="img")
              p(class="dim")
              input(type="button", class="view", value="View Full Image")
              input(type="button", class="googlesearch", value="Google Image Search")
              input(type="button", class="delete", value="Delete")
              p You can upload a replacement file here. This is overwrite the existing art:
              div(class="dz dropzone")
            li(class="panel titlescreen")
              h3 Media Titlescreen
              img(class="img")
              p(class="dim")
              input(type="button", class="googlesearch", value="Google Images")
              input(type="button", class="delete", value="Delete")
              p You can upload a replacement file here. This is overwrite the existing art:
              div(class="dz dropzone")
            li(class="panel sqvideo")
              h3 Media SQ Video
              div(class="videowrapper")
              a(class="downloadlink") Download
              input(type="button", class="delete", value="Delete")
              p Details of original movie file from emuMovies:
              textarea(class="info")
              p You can upload a replacement file here. This is overwrite the existing video:
              div(class="dz dropzone")
              p Include some notes to attach to the video info.json:
              textarea(class="notes")
            li(class="panel contributionstitle")
              h3 Contributions Titlescreen
              img(class="img")
              p(class="dim")
              input(type="button", class="delete", value="Delete")
            li(class="panel metadata")
              h3 Media LaunchBox Metadata
              p Current Metadata file contains:
              div(class="jsoneditor")
              input(type="button", class="save", value="Save Changes")
              input(type="button", class="delete", value="Delete")
              p You can upload a replacement file here. This is overwrite the existing metadata:
              div(class="dz dropzone")