html {
	margin: 0;
	padding: 0;
	height: 100%;
	width: 100%;
}

body {
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
	font-family: 'Open Sans', sans-serif;
	font-size: 12px;
	color: #ccc;
	text-align: left;
	word-wrap: break-word;
	background-repeat: repeat-x;
	
	background: rgb(52,63,74,1); /* Old browsers */
	background: -moz-linear-gradient(top, rgba(81,97,112,1) 0%, rgba(52,63,74,1) 100px); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(81,97,112,1)), color-stop(100px,rgba(52,63,74,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(81,97,112,1) 0%,rgba(52,63,74,1) 100px); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,rgba(81,97,112,1) 0%,rgba(52,63,74,1) 100px); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, rgba(81,97,112,1) 0%,rgba(52,63,74,1) 100px); /* IE10+ */
	background: linear-gradient(to bottom, rgba(81,97,112,1) 0%,rgba(52,63,74,1) 100px); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#516170', endColorstr='#343f4a',GradientType=0 ); /* IE6-9 */
}

input[type='text'] {
	padding: 5px; 
	border: 1px solid #676777; 
	-webkit-border-radius: 2px;
	border-radius: 2px;
	color: #fff;

	background: rgb(52,63,74,1); /* Old browsers */
	background: -moz-linear-gradient(top, rgba(81,97,112,1) 0%, rgba(52,63,74,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(81,97,112,1)), color-stop(100%,rgba(52,63,74,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(81,97,112,1) 0%,rgba(52,63,74,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,rgba(81,97,112,1) 0%,rgba(52,63,74,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, rgba(81,97,112,1) 0%,rgba(52,63,74,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom, rgba(81,97,112,1) 0%,rgba(52,63,74,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#516170', endColorstr='#343f4a',GradientType=0 ); /* IE6-9 */
}

#container {
	margin: 0 auto;
	position: relative;
	height: 100%;
	width: 800px;
}

#maincolumn
{
	margin: 0 auto;
    position: absolute;
    left: 0px;
    height: 100%;
	width: 650px;
	background-color: #101921;
}

#menucolumn
{
    position: absolute;
	margin: 0 auto;
	right: 0px;
	height: 100%;
	width: 140px;
}

#titlebanner {
	display: none;
	position: relative;
	color: #fff;
	height: 112px;
	width: 100%;
	/* background - see layout.jade. a random number defines bg */
	background-repeat: no-repeat;
}
#titlebanner a {
	background: none;
	text-decoration: none;
}
#titlebanner a:visited {
	color: #fff;
}
#titlebanner a:hover {
	color: #989898;
}
#titlebanner div.bannergradient {
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: 1;

	background: -moz-linear-gradient(top,  rgba(0,0,0,0) 0%, rgba(0,0,0,0.65) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0)), color-stop(100%,rgba(0,0,0,0.65))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#a6000000',GradientType=0 ); /* IE6-9 */
}
#titlebanner div.titlewrapper {
	position: absolute;
	height: 55px;
	top: 25%;
	z-index: 2;
	padding: 0px 20px;
	margin: 0;
}
#titlebanner h1 {
	font-size: 32px;
	font-family: 'Montserrat', sans-serif;
}
#titlebanner h1, #titlebanner h4  {
	padding: 0;
	margin: 0;
}

#searchform {
	height: 40px;
	font-size: 14px;
	color: #333;
	background: #f0f0f0;
	position: relative;

}
#searchform .scopebadge { /* not in use atm */
	display: inline-block;
	padding: 0 5px;
	line-height: 22px;
	font-size: 14px;
	font-weight: normal;
	color: #767676;
	background-color: #ddd;
	border-radius: 2px;
}
#selectordie {
	padding: 14px 10px;
	border: none;
	width: 145px;
	text-transform: none;
	font-size: 12px;
	font-weight: normal;
	position: absolute;
	top: 0px;
	height: 40px;
	box-shadow: none;
}

#searchform input {
	position: absolute;
	top: 0px;
	left: 150px;
	padding: 0px 10px;
	height: 40px;
	border-radius: 0px;
	background: none;
	border: 0;
	box-shadow: none;
	display: inline-block;
	font-size: 12px;
    text-align: left;
	width: 480px;
  	outline: none;
  	background: #fff;
  	color: #444444;
    outline: 0;
    outline-offset: -2px;
}
#emulatorwrapper {
	display: none;
}

#gametitlewrapper {
	padding: 10px 0px;
	line-height: 70px;

	background: rgb(46,53,61); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(46,53,61,1) 0%, rgba(16,25,33,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(46,53,61,1)), color-stop(100%,rgba(16,25,33,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(46,53,61,1) 0%,rgba(16,25,33,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(46,53,61,1) 0%,rgba(16,25,33,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(46,53,61,1) 0%,rgba(16,25,33,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(46,53,61,1) 0%,rgba(16,25,33,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2e353d', endColorstr='#101921',GradientType=0 ); /* IE6-9 */
}
#gametitlewrapper img {
	padding: 0px 10px;
	display: inline-block;
  	vertical-align: middle;
  	line-height: normal;
}
#gametitlewrapper img.nes {
	height: 100px;
}
#gametitlewrapper img.gen {
	height: 100px;
}
#gametitlewrapper img.snes {
	height: 60px;
}
#gametitlewrapper img.gb {
	height: 60px;
}
#gametitlewrapper img.gba {
	height: 60px;
}
#gametitlewrapper div {
	display: inline-block;
	vertical-align: top;
	font-size: 24px;
	line-height: normal;
}

#emulatorborder {
	width: 100%;
	padding: 10px 0px;
	background: -moz-linear-gradient(top,  rgba(0,0,0,1) 0%, rgba(0,0,0,0) 50%, rgba(0,0,0,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,1)), color-stop(50%,rgba(0,0,0,0)), color-stop(100%,rgba(0,0,0,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(0,0,0,1) 0%,rgba(0,0,0,0) 50%,rgba(0,0,0,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(0,0,0,1) 0%,rgba(0,0,0,0) 50%,rgba(0,0,0,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(0,0,0,1) 0%,rgba(0,0,0,0) 50%,rgba(0,0,0,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(0,0,0,1) 0%,rgba(0,0,0,0) 50%,rgba(0,0,0,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#000000',GradientType=0 ); /* IE6-9 */
}

#emulatorcentered {
	display: table;
    margin: 0 auto;
}

#emulator {
	outline: none;
}

div.carosel {
	width: 580px;
	margin: 0px auto;
}

#nescarousel div.slick-slide {
	width: 100px;
	height: 400px;
	border: solid 1px white;
}