html {
	margin: 0;
	padding: 0;
	height:100%;
}

body {
	margin: 0;
	padding: 0;
	height:100%;
	font-family: 'Open Sans', sans-serif;
	font-size: 12px;
	color: #ccc;
	text-align: left;
	word-wrap: break-word;
	background-repeat: repeat-x;
	
	background: rgb(52,63,74,1); /* Old browsers */
	background: -moz-linear-gradient(top, rgba(81,97,112,1) 0%, rgba(52,63,74,1) 100px) fixed; /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(81,97,112,1)), color-stop(100px,rgba(52,63,74,1))) fixed; /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(81,97,112,1) 0%,rgba(52,63,74,1) 100px) fixed; /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,rgba(81,97,112,1) 0%,rgba(52,63,74,1) 100px) fixed; /* Opera 11.10+ */
	background: -ms-linear-gradient(top, rgba(81,97,112,1) 0%,rgba(52,63,74,1) 100px) fixed; /* IE10+ */
	background: linear-gradient(to bottom, rgba(81,97,112,1) 0%,rgba(52,63,74,1) 100px) fixed; /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#516170', endColorstr='#343f4a',GradientType=0 ) fixed; /* IE6-9 */
}

input[type='text'] {
	padding: 5px; 
	border: 1px solid #676777; 
	-webkit-border-radius: 2px;
	border-radius: 2px;
	color: #fff;

	background: rgb(52,63,74,1); /* Old browsers */
	background: -moz-linear-gradient(top, rgba(81,97,112,1) 0%, rgba(52,63,74,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(81,97,112,1)), color-stop(100%,rgba(52,63,74,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(81,97,112,1) 0%,rgba(52,63,74,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,rgba(81,97,112,1) 0%,rgba(52,63,74,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, rgba(81,97,112,1) 0%,rgba(52,63,74,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom, rgba(81,97,112,1) 0%,rgba(52,63,74,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#516170', endColorstr='#343f4a',GradientType=0 ); /* IE6-9 */
}

#container {
	margin: 0 auto;
	position: relative;
	width: 800px;
	min-height:100% !important; /* browser fill */
    height: auto;                /*content fill */
}

#maincolumn
{
	margin: 0 auto;
    position: absolute;
    left: 0px;
	width: 650px;
	background-color: #101921;
	min-height:100% !important; /* browser fill */
    height: auto;                /*content fill */
}

#menucolumn
{
    position: absolute;
	margin: 0 auto;
	right: 0px;
	height: 100%;
	width: 140px;
}

#titlebanner {
	position: relative;
	color: #fff;
	height: 112px;
	width: 100%;
	/* background - see layout.jade. a random number defines bg */
	background-repeat: no-repeat;
}
#titlebanner a {
	background: none;
	text-decoration: none;
}
#titlebanner a:visited {
	color: #fff;
}
#titlebanner a:hover {
	color: #989898;
}
#titlebanner div.bannergradient {
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: 1;

	background: -moz-linear-gradient(top,  rgba(0,0,0,0) 0%, rgba(0,0,0,0.65) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0)), color-stop(100%,rgba(0,0,0,0.65))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#a6000000',GradientType=0 ); /* IE6-9 */
}
#titlebanner div.titlewrapper {
	position: absolute;
	height: 55px;
	top: 25%;
	z-index: 2;
	padding: 0px 20px;
	margin: 0;
}
#titlebanner h1 {
	font-size: 32px;
	font-family: 'Montserrat', sans-serif;
}
#titlebanner h1, #titlebanner h4  {
	padding: 0;
	margin: 0;
}

#searchform {
	height: 40px;
	font-size: 14px;
	color: #333;
	background: #f0f0f0;
	position: relative;

}
#searchform .scopebadge { /* not in use atm */
	display: inline-block;
	padding: 0 5px;
	line-height: 22px;
	font-size: 14px;
	font-weight: normal;
	color: #767676;
	background-color: #ddd;
	border-radius: 2px;
}
#selectordie {
	padding: 14px 10px;
	border: none;
	width: 145px;
	text-transform: none;
	font-size: 12px;
	font-weight: normal;
	position: absolute;
	top: 0px;
	height: 40px;
	box-shadow: none;
}

#searchform input {
	position: absolute;
	top: 0px;
	left: 150px;
	padding: 0px 10px;
	height: 40px;
	border-radius: 0px;
	background: none;
	border: 0;
	box-shadow: none;
	display: inline-block;
	font-size: 12px;
    text-align: left;
	width: 480px;
  	outline: none;
  	background: #fff;
  	color: #444444;
    outline: 0;
    outline-offset: -2px;
}
#emulatorwrapper {
	min-height: 100px;
	width: 100%;
}

#emulatorwrapper .startmessage {
	text-align: center;
	vertical-align: middle;
}

#gametitlewrapper {
	padding: 0px 10px 20px 10px;
	line-height: 70px;
	background: rgba(0,0,0,1);
}
#gametitlewrapper img {
	padding: 0px 10px;
	display: inline-block;
  	vertical-align: middle;
  	line-height: normal;
  	width: 150px;
}
#gametitlewrapper div {
	display: inline-block;
	vertical-align: top;
	font-size: 24px;
	line-height: normal;
}

#emulatorborder {
	padding: 15px 0px;

	background: -moz-linear-gradient(top,  rgba(0,0,0,1) 0%, rgba(0,0,0,0) 50%, rgba(0,0,0,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,1)), color-stop(50%,rgba(0,0,0,0)), color-stop(100%,rgba(0,0,0,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(0,0,0,1) 0%,rgba(0,0,0,0) 50%,rgba(0,0,0,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(0,0,0,1) 0%,rgba(0,0,0,0) 50%,rgba(0,0,0,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(0,0,0,1) 0%,rgba(0,0,0,0) 50%,rgba(0,0,0,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(0,0,0,1) 0%,rgba(0,0,0,0) 50%,rgba(0,0,0,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#000000',GradientType=0 ); /* IE6-9 */
}

#emulatorcentered {
	display: table;
    margin: 0 auto;
}

#emulator {
	outline: none;
}

#suggestionswrapper {
	display: none;
	margin: 10px;
	padding: 10px;
	overflow: hidden;

	/* Prevent vertical gaps */
	line-height: 0;

	-webkit-column-count: 5;
	-webkit-column-gap:   10px;
	-moz-column-count:    5;
	-moz-column-gap:      10px;
	column-count:         5;
	column-gap:           10px; 
}

#suggestionswrapper img {
	cursor: pointer;
	margin: 5px 0px;

	/* Just in case there are inline attributes */
	width: 100% !important;
	height: auto !important;
}

#suggestionswrapper img:hover {

	-webkit-box-shadow: 0px 0px 10px 0px rgba(255,255,255,1);
	-moz-box-shadow: 0px 0px 10px 0px rgba(255,255,255,1);
	box-shadow: 0px 0px 10px 0px rgba(255,255,255,1);
}

#loading {
	margin-top: 20px;
	height: 200px;	
	width: 100%;
	background: url('/images/triangle.svg') no-repeat center 0px;
	text-align: center;
	line-height: 200px;
}