html {
	margin: 0;
	padding: 0;
	height:100%;
}

body {
	margin: 0;
	padding: 0;
	height:100%;
	font-family: 'Poppins', sans-serif;
	font-size: 12px;
	color: #ccc;
	text-align: left;
	word-wrap: break-word;
	background-repeat: repeat-x;
	
	background: rgb(52,63,74,1); /* Old browsers */
	background: -moz-linear-gradient(top, rgba(81,97,112,1) 0%, rgba(52,63,74,1) 100px) fixed; /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(81,97,112,1)), color-stop(100px,rgba(52,63,74,1))) fixed; /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(81,97,112,1) 0%,rgba(52,63,74,1) 100px) fixed; /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,rgba(81,97,112,1) 0%,rgba(52,63,74,1) 100px) fixed; /* Opera 11.10+ */
	background: -ms-linear-gradient(top, rgba(81,97,112,1) 0%,rgba(52,63,74,1) 100px) fixed; /* IE10+ */
	background: linear-gradient(to bottom, rgba(81,97,112,1) 0%,rgba(52,63,74,1) 100px) fixed; /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#516170', endColorstr='#343f4a',GradientType=0 ) fixed; /* IE6-9 */
}

input[type='text'] {
	padding: 5px; 
	border: 1px solid #676777; 
	-webkit-border-radius: 2px;
	border-radius: 2px;
	color: #fff;

	background: rgb(52,63,74,1); /* Old browsers */
	background: -moz-linear-gradient(top, rgba(81,97,112,1) 0%, rgba(52,63,74,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(81,97,112,1)), color-stop(100%,rgba(52,63,74,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(81,97,112,1) 0%,rgba(52,63,74,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,rgba(81,97,112,1) 0%,rgba(52,63,74,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, rgba(81,97,112,1) 0%,rgba(52,63,74,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom, rgba(81,97,112,1) 0%,rgba(52,63,74,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#516170', endColorstr='#343f4a',GradientType=0 ); /* IE6-9 */
}

h2 {
	font-size: 1.8em;
}

p {
	font-size: 1.2em;
}

#container {
	margin: 0 auto;
	position: relative;
	width: 800px;
	min-height:100% !important; /* browser fill */
    height: auto;                /*content fill */
}

#maincolumn
{
	margin: 0 auto;
    position: absolute;
    left: 0px;
	width: 800px;
	background-color: #101921;
	min-height:100% !important; /* browser fill */
    height: auto;                /*content fill */
    overflow: hidden;
}

#maincolumn a {
	color: rgb(81,97,112);
}

#menucolumn
{
    position: absolute;
	margin: 0 auto;
	right: 0px;
	height: 100%;
	width: 140px;
}

#titlebanner {

	position: relative;
	color: #fff;
	height: 112px;
	width: 100%;
	/* background - see layout.jade. a random number defines bg */
	background-repeat: no-repeat;
}
#titlebanner a {
	background: none;
	text-decoration: none;
}
#titlebanner a:visited {
	color: #fff;
}
#titlebanner a:hover {
	color: #989898;
}
#titlebanner div.bannergradient {
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: 1;

	background: -moz-linear-gradient(top,  rgba(0,0,0,0) 0%, rgba(0,0,0,0.65) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0)), color-stop(100%,rgba(0,0,0,0.65))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#a6000000',GradientType=0 ); /* IE6-9 */
}
#titlebanner div.titlewrapper {
	position: absolute;
	height: 55px;
	top: 25%;
	z-index: 2;
	padding: 0px 20px;
	margin: 0;
}
#titlebanner h1 {
	font-size: 40px;
	font-family: 'Kanit', sans-serif;
	line-height: 1.0;
}
#titlebanner h1, #titlebanner p  {
	text-shadow: 2px 2px 12px #000;
	padding: 0;
	margin: 0;
}

#searchform {
	height: 40px;
	font-size: 14px;
	color: #333;
	background: #f0f0f0;
	position: relative;

}

#selectordie {
	padding: 14px 10px;
	border: none;
	width: 195px;
	text-transform: none;
	font-size: 12px;
	font-weight: normal;
	position: absolute;
	top: 0px;
	height: 40px;
	box-shadow: none;
}

#searchform div {
	overflow: hidden;
	height: 40px;
	position: absolute;
	top: 0px;
	left: 200px;
	width: 600px;
}

#searchform input {
	position: absolute;
	top: 0px;
	left: 0px;
	padding: 0px 10px;
	height: 40px;
	border-radius: 0px;
	background: none;
	border: 0;
	box-shadow: none;
	display: inline-block;
	font-size: 12px;
    text-align: left;
	width: 580px;
  	outline: none;
  	background: #fff;
  	color: #444444;
    outline: 0;
    outline-offset: -2px;
}

.rel {
	position: relative;
}

#startfirst, #startplayed {
	width: 100%;
	text-align: center;
	padding: 15px 0;
}

.gamelink {
	max-height: 1000px;
}

.gamelink .box {
	position: relative;
	cursor: pointer;
}

.boxlabel {
	text-align: center;
	display: inline-block;
	overflow: hidden;
	position: absolute;
	pointer-events: none;
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#d6d6d6+0,45484d+100&0.4+0,0.4+100 */
	background: -moz-linear-gradient(top,  rgba(214,214,214,0.4) 0%, rgba(69,72,77,0.4) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top,  rgba(214,214,214,0.4) 0%,rgba(69,72,77,0.4) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom,  rgba(214,214,214,0.4) 0%,rgba(69,72,77,0.4) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#66d6d6d6', endColorstr='#6645484d',GradientType=0 ); /* IE6-9 */
}

.boxlabel p {
	padding: 3px 5px 0px 5px;
	margin: 0 auto;
  	font-family: 'Open+Sans', sans-serif;
  	font-size: 11px;
  	color: #101921;
  	text-align: center;
}

.boxlabel-gb {
	width: 88px;
	height: 77px;
	top: 38px;
	left: 16px;
	border-radius: 3px;	
}

.boxlabel-gba {
	width: 82px;
	height: 45px;
	top: 17px;
	left: 19px;
	border-radius: 3px;	
}

.boxlabel-gen {
	width: 72px;
	height: 67px;
	top: 5px;
	left: 24px;
	border-radius: 3px;	
}

.boxlabel-gg {
	width: 92px;
	height: 65px;
	top: 28px;
	left: 14px;
	border-radius: 11px 11px 0px 0px;	
}

.boxlabel-n64 {
	width: 69px;
	height: 60px;
	top: 8px;
	left: 26px;
	border-radius: 8px 8px 1px 1px;
	padding-top: 5px;
}

.boxlabel-snes {
	width: 75px;
	height: 35px;
	top: 2px;
	left: 23px;
	border-radius: 3px;
}

.boxlabel-sms {
	width: 105px;
	height: 44px;
	top: 29px;
	left: 8px;
	border-radius: 1px;
}

.boxlabel-nes {
	width: 71px;
	height: 93px;
	top: 3px;
	left: 42px;
	border-radius: 1px;
}

.boxlabel-pce {
	width: 96px;
	height: 83px;
	top: 75px;
	left: 12px;
	border-radius: 1px;
}

.boxlabel-lynx {
	width: 106px;
	height: 68px;
	top: 31px;
	left: 7px;
	border-radius: 1px;
}

.boxlabel-vb {
	width: 80px;
	height: 64px;
	top: 13px;
	left: 20px;
	border-radius: 1px;
}

.boxlabel-wsx {
	width: 106px;
	height: 39px;
	top: 14px;
	left: 7px;
	border-radius: 1px;
}

.boxlabel-a7800 {
	width: 102px;
	height: 138px;
	top: 9px;
	left: 9px;
	border-radius: 1px;
}

.boxlabel-a2600 {
	width: 102px;
	height: 138px;
	top: 9px;
	left: 9px;
	border-radius: 1px;
}

.boxlabel-vect {
	width: 102px;
	height: 138px;
	top: 9px;
	left: 9px;
	border-radius: 1px;
}

.boxlabel-ngpx {
	width: 86px;
	height: 48px;
	top: 24px;
	left: 17px;
	border-radius: 1px;
}

.boxlabel-jag {
	width: 96px;
	height: 43px;
	top: 25px;
	left: 12px;
	border-radius: 1px;
}

.gamelink .statebutton {
	cursor: pointer;	
}

.zoom {
	transition:All 100ms ease-in;
	-webkit-transition:All 100ms ease-in;
	-moz-transition:All 100ms ease-in;
	-o-transition:All 100ms ease-in;
}

.zoom:hover {
	transform: scale(1.1, 1.1);
	-webkit-transform: scale(1.1, 1.1);
	-moz-transform: scale(1.1, 1.1);
	-o-transform: scale(1.1, 1.1);
	-ms-transform: scale(1.1, 1.1);
}


.darkgrad {
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,1b2026+50,000000+100 */
	background: rgb(0,0,0); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(0,0,0,1) 0%, rgba(27,32,38,1) 50%, rgba(0,0,0,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,1)), color-stop(50%,rgba(27,32,38,1)), color-stop(100%,rgba(0,0,0,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(0,0,0,1) 0%,rgba(27,32,38,1) 50%,rgba(0,0,0,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(0,0,0,1) 0%,rgba(27,32,38,1) 50%,rgba(0,0,0,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(0,0,0,1) 0%,rgba(27,32,38,1) 50%,rgba(0,0,0,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(0,0,0,1) 0%,rgba(27,32,38,1) 50%,rgba(0,0,0,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#000000',GradientType=0 ); /* IE6-9 */
}

.slideup {
	max-height: 0 !important; 
	overflow: hidden;
	-webkit-transition: max-height 0.5s;
	-moz-transition: max-height 0.5s;
	transition: max-height 0.5s;
}

.close {
	opacity: 0;
	transform: scale(0, 0);
	-webkit-transform: scale(0, 0);
	-moz-transform: scale(0, 0);
	-o-transform: scale(0, 0);
	-ms-transform: scale(0, 0);
}

.fl {
	float: left;
}

.fr {
	float: right;
}

.hide {
	display: none;
}

#emulatorwrapper {
	background-color: #000;
	padding-top: 10px;
	position: absolute;
	display: none;
	height: auto;
	width: 100%;
}

#emulatormessagewrapper, #emulatorcontrolswrapper {
	position: absolute;
	left: 0;
	width: 100%;
	background-color: rgba(0,0,0,0.8);
	max-height: 37px;
	display: none;
	overflow: hidden;
	transition-property: all;
	transition-duration: 0.5s;
	transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
}

#emulatormessagewrapper {
	top: 0;
	font-size: 1.5em;
	padding: 5px;
	text-align: center;
}

#emulatorcontrolswrapper {
	bottom: 0;
}

#emulatorcontrolswrapper.closed, #emulatormessagewrapper.closed {
	max-height: 0;
}

#emulatorcontrolswrapper ul {
	padding: 7px;
	margin: 0;
}

#emulatorcontrolswrapper li {
	list-style: none;
	display: inline;
	padding: 0px 3px;
	cursor: pointer;
}

#emulatorwrapperoverlay{
	display: none;
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
  	background-color: rgba(0,0,0,0.8);
  	cursor: pointer;
}

#emulatorwrapperoverlay div {
	position: relative;
  	top: 50%;
  	transform: translateY(-50%);
  	text-align: center;
	vertical-align: middle;
}

#emulator {
	outline: none;
	width: 100%;
}

#gameloadingwrapper {
	position: relative;
	min-height: 120px;
}

#pregamebackground {
	background-color: rgba(0,0,0,0.8);
	height: auto;

	transition:All 1000ms ease-out;
	-webkit-transition:All 1000ms ease-out;
	-moz-transition:All 1000ms ease-out;
	-o-transition:All 1000ms ease-out;
}

#gameloadingoverlay {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	display: none;
}

#gameloadingoverlaycontent, #systemshaderseletorwrapper, #savedstateseletorwrapper {
	
	position: absolute;
	top: 50%;
	left: 50%;
	margin: 0 auto;

	height: 250px;	
	width: 800px;
	text-align: center;
	margin: -125px 0 0 -400px;

	transition:All 200ms ease-in;
	-webkit-transition:All 200ms ease-in;
	-moz-transition:All 200ms ease-in;
	-o-transition:All 200ms ease-in;
}

#gameloadingoverlaycontentimage img {
	height: 130px;
	display: none;

	-webkit-animation-duration: 5s; 
    animation-duration: 5s; 
    -webkit-animation-fill-mode: both; 
    animation-fill-mode: both; 
    animation-iteration-count:infinite; 
    -webkit-animation-iteration-count:infinite;
}

#gameloadingoverlaycontent h2 {
	margin-bottom: 10px;
}

#gameloadingname {
	position: absolute;
	bottom: 0;
	text-align: center;
	width: 100%;
}

#tip {
	display: none;
	text-align: center;
	width: 100%;
	position: absolute;
	bottom: -100px;
}

/* shader select */

#systemshaderseletorwrapper {
	height: 450px;
	margin: -225px 0 0 -400px;
	overflow-y: scroll;
}

#shaderselectlist {
	margin: 40px auto;
	list-style: none;
	padding: 0;
	width: 800px;
}

#shaderselectlist li {
	height: 200px;
	width: 200px;
	margin: 10px 20px;
	display: inline-block;
	cursor: pointer;
}

#shaderselectlist li img {
	height: 200px;
	width: 200px;
}

#shaderselectlist li h3 {
	margin: 0;
	padding: 10px 0;
	font-size: 1.2em;
}

#shaderselectlist li p {
	margin: 0;
	padding: 0;
	font-size: 12px;
}

#systemshaderseletorwrapper label {
	font-size: 1.2em;
	margin-left: 10px;	
}

/* saved state selector */

#savedstateseletorwrapper {
	height: 550px;
	margin: -250px 0 0 -400px;
	overflow: hidden;
}

#savedstateseletorwrapper h3 {
	cursor: pointer;
	margin-bottom: 20px;
}

#savedstateselectorlistwrapper {
	height: 400px;
	overflow-y: scroll;
}

#stateselectlist {
	margin: 10px;
	padding: 0;
}

#stateselectlist li {
	list-style: none;
	display: inline-block;
	margin: 0px 5px;
	cursor: pointer;
}



/* game details wrapper */

#gamedetailsbackground {
	padding: 10px 0px;
	height: 0px;
	width: 100%;
	background: rgba(0,0,0,1);
}

#gamedetailswrapper {
	display: none;
	width: 100%;
	height: 100%;
}

#gamedetailstable {
	width: 100%;
	display: table;
	table-layout: fixed;
}

#gamedetailsboxfront {
	display: table-cell;
	width: 200px;
}

#gamedetailsboxfront img {
	margin: 0px 15px;
	vertical-align: middle;
	transition:All 200ms ease-in;
	-webkit-transition:All 200ms ease-in;
	-moz-transition:All 200ms ease-in;
	-o-transition:All 200ms ease-in;
	max-height: 250px;
}

#gamedetailscontent {
	display: table-cell;
	vertical-align: top;
	position: relative;
	padding-left: 15px;
}

#gametitlewrapper {
	height: 32px;
}

#gametitlecaption {
	font-size: 16px;
}

/* game controls list and sliders */

#gamecontrolslist {
	position: absolute;
	top: 40px;
	left: 0;
	list-style: none;
	max-width: 42px;
	padding: 0;
	margin: 3px 10px;

	transition-property: all;
	transition-duration: 1s;
	transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
}

#gamecontrolslist li {
	cursor: pointer;
	padding-right: 10px;
}

div.slidingpanel {

	display: none;
	width: 550px;
	position: absolute;
	top: 40px;
	left: 0;
	height: 220px;
	margin-left: 50px;
	overflow-x: auto;
	overflow-y: auto;
}

#screenshotsslider div.slidercontainer {
	position: relative;
	width: 550px;
	height: 220px;
}

#screenshotsslider p {
	font-size: 12px;
	margin-top: 0;
}

#screenshotsslider img {
	vertical-align: middle;
	transition:All 200ms ease-in;
	-webkit-transition:All 200ms ease-in;
	-moz-transition:All 200ms ease-in;
	-o-transition:All 200ms ease-in;
}

/* recently played */

#recentplayedwrapper {
	width: 780px;
	padding: 0px 10px;
	display: none;
	position: relative;
	background: -moz-linear-gradient(top,  rgba(0,0,0,1) 0%, rgba(0,0,0,0) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,1)), color-stop(100%,rgba(0,0,0,0))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(0,0,0,1) 0%,rgba(0,0,0,0) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(0,0,0,1) 0%,rgba(0,0,0,0) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(0,0,0,1) 0%,rgba(0,0,0,0) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(0,0,0,1) 0%,rgba(0,0,0,0) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#00000000',GradientType=0 ); /* IE6-9 */
}

#recentplayedwrapper ul {
	width: 120px;
	display: inline-block;
	margin: 0px 5px;
	padding: 0;
	vertical-align: top;
}

#recentplayedwrapper li.gamelink {
	list-style: none;
	margin: 5px 0px;

	transition:All 200ms ease-in;
	-webkit-transition:All 200ms ease-in;
	-moz-transition:All 200ms ease-in;
	-o-transition:All 200ms ease-in;
}

#recentplayedwrapper li .remove {
	position: absolute;
	width: 22px;
	height: 22px;
	display: none;
	top: -5px;
	right: -5px;
	z-index: 100;
}

/* suggestions */

#suggestionswrapper {
	padding: 10px;
}

#alphabar {
	display: none;
	font-size: 1.2em;
	margin: 10px 0px 20px 0px;
	text-align: center;
}

#alphabar a {
	padding: 0px 5px;
	cursor: pointer;
	text-decoration: none;
}

#suggestionswrapper ul {
	width: 120px;
	display: inline-block;
	margin: 0px 5px;
	padding: 0;
	vertical-align: top;
}

#suggestionswrapper li {
	list-style: none;
	margin: 5px 0px;
}

#loading {
	width: 100px;
	margin: 50px auto;

	transition:All 100ms ease-in;
	-webkit-transition:All 100ms ease-in;
	-moz-transition:All 100ms ease-in;
	-o-transition:All 100ms ease-in;
}

#output {
	display: none;
	width: 100%
}

/* side menu */

.menuwrapper {
	background-color: #101921;
	margin-bottom: 10px;
	padding: 10px;
	text-align: center;
}

#recentlyplayedlist {
	list-style: none;
	padding: 0;
	margin: 0;
}

#recentlyplayedlist li {
	margin-top: 5px;
}


@-webkit-keyframes tada { 
    0% {-webkit-transform: scale(1);} 
    10%, 20% {-webkit-transform: scale(0.9) rotate(-3deg);} 
    30%, 50%, 70%, 90% {-webkit-transform: scale(1.1) rotate(3deg);} 
    40%, 60%, 80% {-webkit-transform: scale(1.1) rotate(-3deg);} 
    100% {-webkit-transform: scale(1) rotate(0);} 
} 
@keyframes tada { 
    0% {transform: scale(1);} 
    10%, 20% {transform: scale(0.9) rotate(-3deg);} 
    30%, 50%, 70%, 90% {transform: scale(1.1) rotate(3deg);} 
    40%, 60%, 80% {transform: scale(1.1) rotate(-3deg);} 
    100% {transform: scale(1) rotate(0);} 
} 
.tada { 
    -webkit-animation-name: tada; 
    animation-name: tada; 
}
