body {
    font-family: 'Poppins', sans-serif;
    font-size: 12px;
}

ul {
    margin: 0;
    padding: 0;
}

.grid-item {
    width: 200px;
    padding: 20px;
    text-align: center;
    overflow: hidden;
    background-color: #e2e2e2;
    border: solid 1p slategray;
    margin: 10px;
    cursor: pointer;
    border-radius: 5px;
    display: inline-block;
}

.grid-item.selected {
    background-color: aquamarine;
}