style.
	#wrapper {
		position: relative;
		height: 200px;
		width: 600px;
	}
	#wrapper ul {
		margin: 15px;
		padding: 0;
		float: right;
	}
	#wrapper li {
		list-style: none;
		text-align: right;
	}
	#diagramwrapper, #controllerwrapper {
		left: 100px;
		height: 100%;
	}
	#diagramwrapper {
		position: absolute;
		top: 0px;
		
	}
	#controllerwrapper {
		position: absolute;
		top: 0;
	}
	#controller {
		position: relative;
		width: 200px;
		height: 100%;
	}
	#controller img {
		position: absolute;
		margin-top: -100px;
		top: 50%;
		text-align: middle;
	}
	#diagram {
		position: relative;
		width: 200px;
		height: 100%;
	}
	#dpad {
		position: absolute;
		top: 84px;
		left: -45px;
		vertical-align: middle;
	}
	#select {
		position: absolute;
		top: 159px;
		left: 70px;
		vertical-align: middle;
	}
	#start {
		position: absolute;
		top: 159px;
		left: 105px;
		vertical-align: middle;
	}
	#pad {
		position: absolute;
		top: 78px;
		left: 211px;
	}
	#padinner {
		position: relative;
	}
	#a {
		position: absolute;
		top: -3px;
		left: 18px;
		vertical-align: middle;
	}
	#b {
		position: absolute;
		top: 7px;
		left: -2px;
		vertical-align: middle;
	}
div#wrapper
	ul
		li Save State: 1
		li Decrement State: 2
		li Increment State: 3
		li Load State: 4
		li Pause: P
		li FF: Space
		li Rewind: Hold R
		li Frame Skip: K
		li Reset: H
		li Mute: M
		li Fullscreen: F

	div#controllerwrapper
		div#controller
			img(src="/images/gamepads/gb.png")
	div#diagramwrapper
		div#diagram
			div#dpad Arrows
			div#select Shift
			div#start Enter
			div#pad
				div#padinner
					div#a X
					div#b Z
