style.
	#wrapper {
		position: relative;
		height: 200px;
		width: 600px;
	}
	#wrapper ul.right {
		margin: 15px;
		padding: 0;
		float: right;
	}
	#wrapper ul.left {
		margin: 15px;
		padding: 0;
		float: left;
	}
	#wrapper ul.right li {
		list-style: none;
		text-align: right;
	}
	#wrapper ul.left li {
		list-style: none;
		text-align: left;
	}
div#wrapper
	ul(class="right")
		li Save State: 1
		li Decrement State: 2
		li Increment State: 3
		li Load State: 4
		li Pause: P
		li FF: Space
		li Rewind: Hold R
		li Frame Skip: K
		li Reset: H
		li Mute: M
	ul(class="left")
		li D-pad: Arrows
		li Start: Enter
		li Button 1: Z
		li Button 2: X
