style.
	#wrapper {
		position: relative;
		height: 200px;
		width: 550px;
	}
	#wrapper ul.right {
		margin: 0;
		padding: 0;
		float: right;
	}
	#wrapper ul.left {
		margin: 0;
		padding: 0;
		float: left;
	}
	#wrapper ul.right li {
		list-style: none;
		text-align: right;
	}
	#wrapper ul.left li {
		list-style: none;
		text-align: left;
	}
div#wrapper
	ul(class="right")
		li Save State: 1
		li Decrement State: 2
		li Increment State: 3
		li Load State: 4
		li Pause: P
		li Fast Forward: Hold Space
		li Rewind: Hold R
		li Take Screenshot: T
		li Reset: H
		li Mute: M
		li Fullscreen (Beta): F
	ul(class="left")
		li D-pad: Arrows
		li Button 1/Start: Z
		li Button 2: X
