style.
	#wrapper {
		position: relative;
		height: 170px;
		width: 470px;
	}
	#wrapper ul {
		margin: 15px;
		padding: 0;
		float: right;
	}
	#wrapper li {
		list-style: none;
		text-align: right;
	}
	#diagramwrapper, #controllerwrapper {
		left: 50px;
		height: 100%;
	}
	#diagramwrapper {
		position: absolute;
		top: -14px;
		
	}
	#controllerwrapper {
		position: absolute;
		top: 0;
	}
	#controller {
		position: relative;
		width: 200px;
		height: 100%;
	}
	#controller img {
		position: absolute;
		margin-top: -100px;
		top: 50%;
		text-align: middle;
	}
	#diagram {
		position: relative;
		width: 200px;
		height: 100%;
	}
	#dpad {
		position: absolute;
		top: 84px;
		left: -45px;
		vertical-align: middle;
	}
	#select {
		position: absolute;
		top: 148px;
		left: 65px;
		vertical-align: middle;
	}
	#start {
		position: absolute;
		top: 148px;
		left: 101px;
		vertical-align: middle;
	}
	#l {
		position: absolute;
		top: 31px;
		left: 40px;
		vertical-align: middle;
	}
	#r {
		position: absolute;
		top: 31px;
		left: 148px;
		vertical-align: middle;
	}
	#pad {
		position: absolute;
		top: 88px;
		left: 223px;
	}
	#padinner {
		position: relative;
	}
	#a {
		position: absolute;
		top: -6px;
		left: 18px;
		vertical-align: middle;
	}
	#b {
		position: absolute;
		top: 10px;
		left: 2px;
		vertical-align: middle;
	}
	#x {
		position: absolute;
		top: -20px;
		left: 1px;
		vertical-align: middle;
	}
	#y {
		position: absolute;
		top: -6px;
		left: -16px;
		vertical-align: middle;
	}
div#wrapper
	ul
		li Save State: 1
		li Decrement State: 2
		li Increment State: 3
		li Load State: 4
		li Pause: P
		li FF: T
		li Frame Skip: K
		li Reset: R
		li Mute: M

	div#controllerwrapper
		div#controller
			img(src="/images/gamepads/snes.png")
	div#diagramwrapper
		div#diagram
			div#dpad Arrows
			div#select Shift
			div#start Enter
			div#l Q
			div#r W
			div#pad
				div#padinner
					div#a X
					div#b Z
					div#y A
					div#x S
